@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  @keyframes fadeIn {
    0% { opacity: 0; transform: scale(0.95); }
    100% { opacity: 1; transform: scale(1); }
  }

  .animate-fadeIn {
    animation: fadeIn 0.4s ease-out both;
  }
}